
// Body
$body-bg: #f5f8fa;
$primary-color: #2196F3;
$primary-hover:#445490;
$primary-active:#95be47;
$success:#4caf50;
$trackifyx: #3b5a9a;
$socialGenie: #0b0d39;
$text-color: #1e1e1e;
$tableHead: #f3f3f3;
$cta-color: #f59c0e;
$topColor:#445490;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mobile-width:767;
$tablet-width: 768px;
$desktop-width: 1024px;
$thunder-width:1200;
//Social Media
$fbColor: #3B5998;
$twitterColor: #1DA1F2;
$instaColor:#262626;
$pintColor:#BD081C;